*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: blueviolet;
}
.App {
  text-align: center;
  margin: auto;
  display: flex;
}
.quotation-marks{
  display: flex;
  justify-content: flex-start;
  position: relative;
  font-size: 60px;
  align-items: flex-start;
  float: left;
}
.quote-box{
  padding: 20px;
  align-items: center;
  justify-content: center;
  width: 40rem;
  margin: 10rem auto;
  background-color: mintcream;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
}
.text{
 display: flex;
 position: relative;
 margin-top: 20px;
 margin-bottom: 15px;
 font-family: Helvetica;
 font-size: 1rem;
 line-height: 22px;
}
.author{
  font-family: Helvetica;
  margin-left: 75%;
  font-size: 1rem;
  margin-bottom: 20px;
}
.containerButton{
  margin-left: 85%;
  margin-bottom: 5px;
}
.circle{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
}